.App {
  overflow: hidden;
  position: relative;
}

.background-rect {
  width: 500px;
  background: skyblue;
  height: 100%;
  position: absolute;
  transform: skewX(-50deg) translateX(-50%);
  top: 0px;
  margin: auto;
  left: 50%;
}
